@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

*{
  margin: 0;
  font-family: "Lato";
 
}

body {
  background-color:  darkslategray;
}

.App{
  margin: 10px auto;
  width:100%;
  max-width:1200px;
  padding:20px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: darkblue;
}

.site--header h1{
font-size: 2.5em;
font-family: Silkscreen;
color:darkseagreen;
}

.site--header{
  background-color: black;
  padding:20px;
}

.homepage--content{
  background-color: whitesmoke;
  color: black;
  padding: 1px 20px 20px 90px;
  position:relative;
  max-width:800px;
}

.detaljer--content{
  background-color: whitesmoke;
  color: black;
  padding: 1px 20px 20px 90px;
  position:relative;
  max-width:100%;
}

.recension--div .rating{
  position: absolute;
  font-family: Silkscreen;
  background-color: darkseagreen;
  left: 0px;
  font-size:2em;
  text-align: center;
  width:50px;
  margin-top:-1px;
  height:50px;
}

.recension--div h2{
  margin-bottom:0;
}

.recension--div{
  max-width: 75%;
  margin-bottom:3rem;
  margin-top:2rem;
}
.recension--div p{
  max-width: 100%;
  margin-bottom:1rem;
  margin-top:0.3rem;
}

.recension--div small{
  margin-right:10px;
  color: gray;
}
